# Тема "Обучение с учителем"
### Задание 1
#### Импортируйте библиотеки pandas и numpy.
#### Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston
boston = load_boston()
data = boston["data"]
feature_names = boston["feature_names"]
target = boston["target"]

In [2]:
X = pd.DataFrame(data, columns=feature_names)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [3]:
y = pd.DataFrame(target, columns=["price"])
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

#### Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки

#### составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#### Создайте модель линейной регрессии под название lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
lr = LinearRegression()

#### Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [40]:
lr.fit(X_train, y_train)

LinearRegression()

In [41]:
y_pred = lr.predict(X_test)

y_pred.shape

(152, 1)

In [42]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [43]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]

check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

#### Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [44]:
from sklearn.metrics import r2_score

In [45]:
r2_score(check_test["y_pred"], check_test["y_test"])

0.669370269149561

### Задание 2

#### Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
#### Сделайте агрумент n_estimators равным 1000,
#### max_depth должен быть равен 12 и random_state сделайте равным 42.

In [47]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

#### Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
#### но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
#### чтобы получить из датафрейма одномерный массив Numpy,
#### так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [48]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

#### Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
#### Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [49]:
y_pred_model = lr.predict(X_test)

y_pred_model.shape

(152, 1)

In [50]:
check_test_model = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred_model.flatten(),
})

check_test.head(10)

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280
76     20.0  23.146689  3.146689
316    17.8  17.392124 -0.407876
140    14.0  14.078599  0.078599
471    19.6  23.036927  3.436927
500    16.8  20.599433  3.799433

In [51]:
r2_score(check_test_model["y_pred"], check_test_model["y_test"])

0.669370269149561